.jumbotron {

    background-color: #ffbb99;

}

.mtchlblwrapper {

    display: grid;
    grid-template-columns: 115px 100px 100px;
    grid-template-rows: auto;
    margin-bottom: 10px;
    background-color: orange;
    width: 125px;
    column-gap: 60px; 
    margin-top: 70px;
 }

.mtchscrewrapper {

    display: grid;
    grid-template-columns: 95px 95px 95px;
    grid-template-rows: 55px;
    color: white;
    column-gap: 75px;
    margin-bottom: 40px;
    font-size: 25px;
    justify-self: center;
    width: 200px;
    
     
}

#matchScore,
#totwinScore,
#totlossScore  {

    background-color: green;
    width:125px; 
}

#MatchLabel {

    background-color: orange;
    width:125px; 
}



.mtchbox1 {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    
}


.imgwrapper {

    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    margin-top: 30px;
 
}



.totwinslblwrapper {

    display: grid;
    background-color: red;
    column-gap: 10px;

} 

.TotalScoreLabel {

    
    grid-template-columns: 150px;
    grid-template-rows: 50px;
    background-color: orange;
    color: white;
    margin-bottom: 10px;
    margin-top: 70px;
    width: 150px;
    
    
 
}


.totscrewrapper {

    
    background-color: green;
    grid-template-columns: 130px;
    
    color: white;
    width: 150px;
    grid-template-rows: 75px;
    font-size: 25px;
    
     
}


 

